/* CSS Document*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#f4f5f4;
}

.logo{
  width: 100px;
  height: auto;
  cursor: pointer;
}

li, a, button{
  background-color: #1DA1F2;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding 30px 10%;
  background-color: #1DA1F2;
}
body{
    
}
.introSpan{
    font-weight: 100;
    font-family: Cloud, Helvetica, sans-serif;
}

.ECE{
  background-color: transparent;
  color: black;
  opacity: 0.8;
}

.P2{
  background-color: transparent;
  color: black;
  opacity: 0.8;
}

.UT{
  background-color: transparent;
  color: #CB5727;
}

h1 {
   font-size: 2em;
   text-align: center;
   color: white;
   background-color: lightblue;
   width: 100%;
   margin: 0 auto;
}


.box{
    border-style: groove;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}
.intro{
  float: center;
  padding: 20px;
  margin: 20px;
}

nav{
}
.nav_links{
  list-style:none;
  background-color: #004AAD;
  font-family: Cloud, Helvetica, sans-serif;
}

.nav_links li{
   display: inline-block;
  padding: 0px 20px;
   font-size: 25px;
}

.nav_links li a{
   transition:all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: #CB5727;
}

button{
    font-family: Cloud, Helvetica, sans-serif;
  margin: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;


}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}
}

